:root {
    --background-color: #faf8f8;
    --darker-background-color: #801212;
    --accent-color: #a01515;
    --accent-color2: #0a173f;
    --text-color: #4e4e4e;
    --nav-text-color: rgb(241, 241, 245);
    --navbar-color: rgb(203, 203, 209);
    --link-color: #071d61;
    --navbar-height: 100px;
}

* {
    margin: 0;
    padding: 0;
    font-size: large;
    line-height: 200%;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0 20px;
}


.column p {
    padding: 5px, 0;
    margin: 10px 0;
}

.column h2 {
    font-size: xx-large;
    font-weight: bolder;
    margin: 10px 0;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    padding: 5px 0;
}


.column {
    flex: 1;
    flex-basis: 100%;

    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    padding: 10px 0;
}

.column .image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: 50% 15%;
}

a {
    text-decoration: none;
}


.img-fluid {
    width: 100%;
    height: auto;
}

.logo_div {
    width: 100%;
    height: var(--navbar-height);
    background: url(Pictures/logo.png) no-repeat 5% 0%;
}

.logo_div a{ 
    display: block;
    width: 300px;
    height: 100px;
    margin-left: 3%;
    padding: 0;
}

.img-logo {
    width: 300px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    margin-left: 10px;
}

.img-start {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.img-container {
    background-color: var(--text-color);
    padding: 15px;
    margin-top: 5px;
}

.nav-container {
    height: var(--navbar-height);
    background: var(--accent-color);
    margin-bottom: 50px;
}

.nav-container label {
    color: white;
}

footer {
    height: 100px;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

footer p {
    color: white;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

footer ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
    list-style: none;
}

.footer-logos {
    width: 30px;
    height: 30px;
    margin: 3px;
    object-fit: cover;
    object-position: center;
    filter: invert(1);
}

.footer-logos:hover {
    filter: invert(0.7);
}

.logo {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

nav {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

nav label {
    color: var(--nav-text-color);
    font-size: medium;
    line-height: 100%;
}

nav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}


nav li {
    height: 100%;
    width: 80px;
    text-align: center;
    position: relative;
}

nav li:hover {
    background: #801212;
}

nav ul a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--nav-text-color);
    font-size: medium;
    line-height: 100%;
    color: white;
}

.dropdown {
    height: min-content;
    width: 150px;
    background: var(--accent-color);
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: var(--navbar-height);
}

.dropdown li {
    height: 70px;
    width: 100%;

}

.dropdown li a {
    justify-content: flex-start;
    padding-left: 20px;
    width: calc(100%-20px);
    color: white;
}


nav li:hover .dropdown {
    display: flex;
}

nav input[type='checkbox'] {
    display: none;
}

.expandable_li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-flag {
    height: 15px;
    border: 2px solid var(--nav-text-color);
    border-radius: 5px;
}

.toggle_button {
    width: 30px;
    height: 23px;
    position: absolute;
    top: 33px;
    right: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    height: 4px;
    width: 100%;
    background: var(--navbar-color);
    border-radius: 100px;
}

.container {
    margin-left: 350px;
    margin-right: 350px;
}

.link_txt {
    text-decoration: underline;
    color: var(--link-color);
}

.bigger_txt {
    font-size: xx-large;
    font-weight: 500;
}

.sub_headline {
    margin-top: 20px;
}


.container h1 {
    line-height: 120%;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 300%;
    font-weight: bolder;
    text-align: center;
    color: var(--accent-color2);
}

.subscribe {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.subscribe p {
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 20px;
}

.submit-button {
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    background-color: #0a173f;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 var(--text-color);
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
}


.submit-button:hover {
    box-shadow: inset 200px 0 0 0 var(--accent-color);
    cursor: pointer;
}

.highlight-section {
    margin: 10px 0;
    padding: 20px;
    background-color: var(--background-color);
    border: 2px solid var(--accent-color);
}

@media (max-width: 500px) {
    .logo_div {
        width: 100%;
        height: var(--navbar-height);
        background: url(Pictures/logo_klein2.png) no-repeat 0% 0%;
    }
    .logo_div a{ 
        display: block;
        width: 100px;
        height: 100px;
        margin-left: 1%;
        padding: 0;
    }
}


@media screen and (max-width: 700px){
    .subscribe, .subscribe p, .button-container {
        flex-basis: 100%;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
    }
}

@media(max-width: 900px) {
    .toggle_button{
        display: flex;
    }
    nav ul {
        height: min-content;
        width: 100%;
        background: var(--accent-color);
        display: none;
        position: absolute;
        top: var(--navbar-height);
    }
    nav li {
        height: min-content;
        width: 100%;
    }
    nav ul a {
        padding: 30px 0;
    }
    .expandable_li {
        display: block;
    }
    .expandable_li label {
        padding: 30px 0;
        cursor: pointer;
        display: block;
    }
    .expandable_li:hover .dropdown {
        display: none;
    }
    .expandable_li input[type="checkbox"]:checked ~ .dropdown {
        display: block;
    }
    .dropdown{
        position: static;
        width: 100%;
    }
    .dropdown li {
        padding: 0;
        display: block;
        position: static;
        background: var(--accent-color);
    }
    .dropdown li a {
        width: 100%;
        padding: 0;
        justify-content: center;
        color: white;
    }
    #toggle_button:checked ~ ul {
        display: block;
    }
}



@media screen and (max-width: 400px) {
    footer {
        flex-direction: column;
        padding-top: 10px;
    }
    footer ul, footer p {
        padding: 0;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media screen and (max-width: 910px) {
    .container {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        margin-left: 10px;
        margin-right: 10px;
    }
}
